<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Фильмец</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section class="hero">

    {% if username %}
    <h2>Привет, {{ username }}!</h2>

    <a href="/logout" class="btn">
        Выйти
    </a>

    <br><br>
    {% endif %}

    <h1>Фильмец</h1>

    <p>Сервис для подбора фильмов</p>

    <a href="/quiz" class="btn">
        Начать тест
    </a>

    <br><br>

    <a href="/login" class="btn">
        Вход
    </a>

    <br><br>

    <a href="/register" class="btn">
        Регистрация
    </a>

    <br><br>

    <a href="/reviews" class="btn">
        Отзывы
    </a>

</section>

</body>
</html>